@font-face {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://res.kurly.com/fonts/NotoSansKR-Light.woff2) format('woff2'), url(https://res.kurly.com/fonts/NotoSansKR-Light.woff) format('woff'),
    url(https://res.kurly.com/fonts/NotoSansKR-Light.otf) format('truetype');
}

@font-face {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://res.kurly.com/fonts/NotoSansKR-Regular.woff2) format('woff2'), url(https://res.kurly.com/fonts/NotoSansKR-Regular.woff) format('woff'),
    url(https://res.kurly.com/fonts/NotoSansKR-Regular.otf) format('truetype');
}

@font-face {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://res.kurly.com/fonts/NotoSansKR-Medium.woff2) format('woff2'), url(https://res.kurly.com/fonts/NotoSansKR-Medium.woff) format('woff'),
    url(https://res.kurly.com/fonts/NotoSansKR-Medium.otf) format('truetype');
}

@font-face {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://res.kurly.com/fonts/NotoSansKR-Bold.woff2) format('woff2'), url(https://res.kurly.com/fonts/NotoSansKR-Bold.woff) format('woff'),
    url(https://res.kurly.com/fonts/NotoSansKR-Bold.otf) format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Noto Sans;
}

ol,
ul {
  list-style-type: none;
  padding: 0px;
}

a {
  color: #333;
  text-decoration: none;
}
