.header {
  width: 1080px;
  margin: 0 auto;
}

.header-wrap {
  position: relative;
  margin-top: 20px;
  width: 1080px;
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}

.header-wrap div {
  height: 50px;
  text-align: right;
  position: relative;
  top: 20px;
  right: 10px;
  font-size: 12px;
}

.main-logo img {
  position: absolute;
  top: -15px;
}

.banner {
  width: 1080px;
  margin: 20px auto 60px;
}

.logo {
  width: 700px;
}

.login {
  width: 100px;
}

.content-box {
  justify-content: space-between;
  display: flex;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.writer-wrap {
  display: flex;
  padding: 10px;
}

.writer-wrap div {
  font-size: 12px;
}

.box {
  background-color: aqua;
  width: 41px;
  height: 41px;
}

.title {
  width: 940px;
  padding: 10px;
  font-weight: 400;
}

.content-wrap {
  width: 1080px;
  margin: 0 auto;
}

.register-time {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #eee;
}

.post-list,
.post-total {
  font-weight: 500;
  font-size: 12px;
  color: #7b7676;
  margin-bottom: 3px;
}

.content-top {
  width: 1080px;
  display: flex;
  justify-content: space-between;
}

.post-btn-wrap {
  margin-right: 10px;
}

.btn {
  margin-bottom: 10px;
  font-size: 12px;
}

.pagination {
  margin: 50px 0 50px;
  justify-content: center;

}
